//Colors

//First linear gradients
$green1: rgba(51, 211, 94, 1);
$green2: rgba(42, 182, 217, 1);

//Second color
$solid-green: rgba(48, 200, 143, 1);

//Third color
$dark-navy: rgba(45, 49, 77, 1);

//fourth color
$grey-green: rgba(149, 151, 165, 1);